@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: Open Sans;
    --cor1: #050423;
}

body {
    font-family: var(--fonte);
}
  
a {
    font-family: var(--fonte);
    text-decoration: none;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 60px;
    color: #050423;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 25px;
    color: #000;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.cabecalho2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 200px;
    background-image: url("/img/fundo_decisao.jpg");
    background-position: 0px -150px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.cabecalho_nome {
    font-size: 80px;
    letter-spacing: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.cabecalho_nome_negrito {
    font-weight: bold;
}

.cabecalho_texto {
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
    margin-top: 50px;
    gap: 10px;
    letter-spacing: 25px;
    font-weight: 200;
}

.titulo2 {
    font-weight: bold;
}

.texto {
    margin-top: 20px;
    text-align: center;
}

.meio {
    margin-left: 150px;
    padding-right: 150px;
}

.meio1 {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.meio_imagem {
    width: 300px;
}

.meio_texto_titulos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meio_texto_titulo1 {
    font-size: 30px;
    font-weight: 200;
}

.meio_texto_titulo2 {
    font-size: 40px;
    font-weight: 500;
}

.meio_texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    font-weight: 200;
}

.meio_texto_texto {
    font-size: 18px;
}

.rodape_texto {
    margin-top: 80px;
    background-color: #000;
    width: 1000px;
    height: 1px;
    text-align: center;
}

.redes {
    text-decoration: underline;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 20px;
    font-size: 23px;
}

.ficha_tecnica {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    font-weight: 500;
}

.ficha_tecnica_texto {
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
}

.rodape_logos {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.logos_logos {
    width: 110px;
    height: fit-content;
}

.projeto_ciuni_texto {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    margin-right: 150px;
    margin-left: 150px;
    font-weight: 200;
}

.rodape {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
}
