@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: Open Sans;
    --cor1: #050423;
}

body {
    font-family: var(--fonte);
}
  
a {
    font-family: var(--fonte);
    text-decoration: none;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 60px;
    color: #050423;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 25px;
    color: #000;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.cabecalho2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 200px;
    background-image: url("/img/fundo_decisao.jpg");
    background-position: 0px -150px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.cabecalho_nome {
    font-size: 80px;
    letter-spacing: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.cabecalho_nome_negrito {
    font-weight: bold;
}

.cabecalho_texto {
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
    margin-top: 50px;
    gap: 10px;
    letter-spacing: 25px;
    font-weight: 200;
}

.titulo2 {
    font-weight: bold;
}

.texto {
    margin-top: 20px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.meio {
    margin-left: 150px;
    padding-right: 150px;
}

.meio1 {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.meio_imagem {
    width: 300px;
}

.meio_texto_titulos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meio_texto_titulo1 {
    font-size: 30px;
    font-weight: 200;
}

.meio_texto_titulo2 {
    font-size: 40px;
    font-weight: 500;
}

.meio_texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    font-weight: 200;
}

.meio_texto_texto {
    font-size: 18px;
    text-align: justify;
}

.rodape_texto {
    margin-top: 80px;
    background-color: #000;
    width: 1000px;
    height: 1px;
    margin-left: 20%;
}

.redes {
    text-decoration: underline;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 20px;
    font-size: 23px;
}

.ficha_tecnica {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    font-weight: 500;
}

.ficha_tecnica_texto {
    text-align: center;
    margin-top: 15px;
    font-weight: 200;
    margin-left: 150px;
    margin-right: 150px;
}

.rodape_logos {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.logos_logos {
    width: 110px;
    height: fit-content;
}

.projeto_ciuni_texto {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    margin-right: 150px;
    margin-left: 150px;
    font-weight: 200;
}

.rodape {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 80px;
}

@media (max-width: 1440px) {

    .cabecalho2 {
        height: 550px;
        padding-top: 125px;
    }
}

@media (max-width: 1024px) {
    /* ///////////////// BARRA DO MENU /////////////////////// */
    .hamburger {
        display: block;
        z-index: 1;
      }
    
      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
    
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    
        pointer-events: none;
      }
    
      .nav-list a {
        font-size: 24px;
        opacity: 0;
      }
    
      .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
      }
    
      .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
      }
    
      .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
      }
    
      /* Estilos ativos */
    
      .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
      }
    
      .nav.active .nav-list a {
        opacity: 1;
      }
    
      .nav.active .hamburger {
        position: fixed;
        top: 45px;
        right: 16px;
        border-top-color: transparent;
      }
    
      .nav.active .hamburger::before {
        transform: rotate(135deg);
      }
    
      .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
  
      /* ///////////////// FIM DA BARRA DO MENU /////////////////////// */

      .cabecalho2 {
        height: 350px;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-position: 0px -10px;
    }

    .header {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cabecalho_nome {
        font-size: 50px;
        padding-left: 10px;
    }

    .rodape {
        margin-left: 15px;
        margin-right: 15px;
    }

    .meio1 {
        gap: 30px;
    }


    .meio {
        margin-left: 30px;
        margin-right: 30px;
        padding-right: 0;
    }

    .meio_texto_titulos {
        align-items: center;
        gap: 1px;
        justify-content: center;
    }

    .meio_imagem {
        width: 500px;
    }

    .cabecalho_texto {
        font-size: 15px;
    }

      .logo {
        font-size: 50px;
      }

      .titulos {
        font-size: 40px;
        letter-spacing: 15px;
        margin-top: 20px;
      }

      .texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .ficha_tecnica_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .projeto_ciuni_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .rodape_texto {
        width: 90%;
        margin-left: 5%;
      }

      .redes {
        font-size: 22px;
        gap: 15px;
      }

      .ficha_tecnica {
        margin-top: 40px;
      }

      .logos_logos {
        margin-top: 30px;
        width: 60px;
        height: fit-content;
    }
}

@media (max-width: 768px) {
    /* ///////////////// BARRA DO MENU /////////////////////// */
    .hamburger {
        display: block;
        z-index: 1;
      }
    
      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
    
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    
        pointer-events: none;
      }
    
      .nav-list a {
        font-size: 24px;
        opacity: 0;
      }
    
      .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
      }
    
      .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
      }
    
      .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
      }
    
      /* Estilos ativos */
    
      .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
      }
    
      .nav.active .nav-list a {
        opacity: 1;
      }
    
      .nav.active .hamburger {
        position: fixed;
        top: 45px;
        right: 16px;
        border-top-color: transparent;
      }
    
      .nav.active .hamburger::before {
        transform: rotate(135deg);
      }
    
      .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
  
      /* ///////////////// FIM DA BARRA DO MENU /////////////////////// */

      .cabecalho2 {
        height: 350px;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-position: 0px -10px;
    }

    .header {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cabecalho_nome {
        font-size: 35px;
        padding-left: 10px;
    }

    .rodape {
        margin-left: 15px;
        margin-right: 15px;
    }

    .meio1 {
        flex-direction: column;
        margin-top: 50px;
        gap: 15px;
    }

    .meio {
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 0;
    }

    .meio_texto_titulos {
        align-items: center;
        gap: 1px;
        justify-content: center;
    }

    .meio_imagem {
        width: 100%;
    }

    .cabecalho_texto {
        font-size: 15px;
    }

      .logo {
        font-size: 40px;
      }

      .titulos {
        font-size: 30px;
        letter-spacing: 15px;
        margin-top: 20px;
      }

      .texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .ficha_tecnica_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .projeto_ciuni_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .rodape_texto {
        width: 90%;
        margin-left: 5%;
      }

      .redes {
        font-size: 18px;
        gap: 15px;
      }

      .ficha_tecnica {
        margin-top: 40px;
      }

      .logos_logos {
        margin-top: 30px;
        width: 60px;
        height: fit-content;
    }
}

@media (max-width: 480px) {
    /* ///////////////// BARRA DO MENU /////////////////////// */
    .hamburger {
        display: block;
        z-index: 1;
      }
    
      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
    
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    
        pointer-events: none;
      }
    
      .nav-list a {
        font-size: 24px;
        opacity: 0;
      }
    
      .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
      }
    
      .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
      }
    
      .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
      }
    
      /* Estilos ativos */
    
      .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
      }
    
      .nav.active .nav-list a {
        opacity: 1;
      }
    
      .nav.active .hamburger {
        position: fixed;
        top: 45px;
        right: 16px;
        border-top-color: transparent;
      }
    
      .nav.active .hamburger::before {
        transform: rotate(135deg);
      }
    
      .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
  
      /* ///////////////// FIM DA BARRA DO MENU /////////////////////// */

      .cabecalho2 {
        height: 200px;
        padding: 0;
        align-items: center;
        justify-content: center;
        background-position: 0px -10px;
    }

    .header {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cabecalho_nome {
        font-size: 28px;
        padding-left: 10px;
    }

    .rodape {
        margin-left: 15px;
        margin-right: 15px;
    }

    .meio1 {
        flex-direction: column;
        margin-top: 50px;
        gap: 15px;
    }

    .meio {
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 0;
    }

    .meio_texto_titulos {
        align-items: center;
        gap: 1px;
        justify-content: center;
    }

    .meio_imagem {
        width: 100%;
    }

    .cabecalho_texto {
        font-size: 15px;
    }

      .logo {
        font-size: 30px;
      }

      .titulos {
        font-size: 20px;
        letter-spacing: 15px;
        margin-top: 20px;
      }

      .texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .ficha_tecnica_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .projeto_ciuni_texto {
        margin-left: 15px;
        margin-right: 15px;
      }

      .rodape_texto {
        width: 90%;
        margin-left: 5%;
      }

      .redes {
        font-size: 18px;
        gap: 15px;
      }

      .ficha_tecnica {
        margin-top: 40px;
      }

      .logos_logos {
        margin-top: 30px;
        width: 60px;
        height: fit-content;
    }
}

