@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100;300;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: Open Sans;
    --cor1: #050423;
}

body {
    font-family: var(--fonte);
}

a {
    text-decoration: none;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 60px;
    color: #050423;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 25px;
    color: #000;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.cabecalho2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding-top: 200px;
    background-image: url("/img/projeto_ciuni.jpg");
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.cabecalho_nome {
    display: flex;
    font-size: 80px;
    letter-spacing: 20px;
    align-items: center;
    gap: 30px;
}

.cabecalho_nome2 {
    font-weight: bold;
}

.cabecalho_texto {
    font-size: 20px;
    text-align: center;
    
}

.menu {
    margin-left: 150px;
    margin-top: 70px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.menu1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_titulo {
    font-size: 38px;
    text-transform: uppercase;
}

.menu_texto {
    font-size: 18px;
}

.menu2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu2_titulo {
    text-transform: uppercase;
    font-size: 38px;
}

.menu2_texto {
    font-size: 18px;
}

.menu2_retangulos{
    display: flex;
    gap: 80px;
}

.menu2_retangulo {
    background-color: lightgray;
    width: 300px;
    height: 450px;
}

.lebres {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lebres_titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lebres_titulo {
    font-size: 35px;
}

.lebres_subtitulo {
    font-weight: bold;
}

.lebres_textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video {
    text-align: center;
}